.google_login_button {
  display: flex;
  align-items: center;
  height: 3em;
  color: #000;
  background-color: #fff;
  border: 1px solid #eaf4f3;
  border-radius: 6px;
  cursor: pointer;
}

.google_login_button span {
  font-family: 'Roboto', 'Roboto Mono', monospace;
  font-size: 0.9rem;
  font-weight: bolder;
}

.google_logo_img {
  height: 2.4em;
  width: 2.2rem;
  margin-right: 0.5rem;
}
