@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600&display=swap');

h1 {
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: 7px;
  color: #fff;
  margin-left: 5em;
}

header {
  padding: 0.1em;
  background-color: #5088a8;
}
