@import url('https://fonts.google.com/specimen/Chakra+Petch?preview.text=GuideIT&preview.text_type=custom');

.side_menu_div {
  width: 100px;
}

li {
  background-color: #298f8a;
  text-align: center;
  padding-top: 3px;
  border-right: solid 5px transparent;
  line-height: 0.8;
}

.side_menu_whiteborder:hover {
  border-right-color: white;
}

.side_menu_ul {
  width: 100%;
  list-style: none;
  margin: 10px auto;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: x-small;
  font-family: 'Chakra Petch', monospace;
}

.side_menu_spacebetween {
  padding-bottom: 18px;
}

.home {
  padding-top: 15px;
}
