@import url('https://fonts.google.com/specimen/Chakra+Petch?preview.text=GuideIT&preview.text_type=custom');

.side_menu_div {
  width: 70px;
  background-color: #298f8a;
  margin-left: 50px;
}

li {
  text-align: center;
  padding: 3px 6px 0 6px;
  border-right: solid 5px transparent;
  line-height: 0.8;
  color: #fff;
  font-size: x-small;
  font-family: 'Chakra Petch', monospace;
}

.side_menu_whiteborder:hover {
  border-right-color: white;
}

.side_menu_whiteborder[data-highlighted='true'] {
  border-right-color: white;
}

.side_menu_ul {
  width: 100%;
  list-style: none;
  margin: 10px auto;
  padding-left: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}

a {
  text-decoration: none;
}

.side_menu_spacebetween {
  margin-bottom: 10px;
}
