/* General styling for the radio buttons and labels */
.radio {
  color: #298f8a;
  display: flex;
  gap: 0.6em;
  font-size: 2em;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  cursor: pointer;
}

.inline .radio:first-child {
  flex-direction: row-reverse;
}

.answers {
  padding-top: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

/* Agreement type questions are aligned inline */
.inline {
  margin-right: calc(10vw + 49px);
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

/* Neutral radio button is smaller then Agree/Disagree buttons */
.small {
  font-size: 0.7em;
  width: 1em;
  height: 1em;
  margin: 0.3em;
}

.radio-label {
  line-height: 1;
}

/* We hide actual radio button, so we can create custom button */
.radio-input input {
  display: flex;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Neutral button doesn`t have label, so it needs extra margin to be centered */
.margin-left {
  margin-left: 0.6em;
}

/* Custom radio button styles */
input + .radio-control::before {
  content: '';
  width: 0.5em;
  height: 0.5em;
  box-shadow: inset 0.5em 0.5em #298f8a;
  border-radius: 50%;
  transition: 180ms transform ease-in-out;
  transform: scale(0);
}

input:checked + .radio-control::before {
  transform: scale(1);
}

.radio-control {
  display: inline;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.09em solid #298f8a;
  transform: translateY(-0.05em);
}

.radio-before .radio-control {
  display: grid;
  place-items: center;
}

/* Multi choice buttons are aligned block */
.block {
  margin: 1em;
  padding: 0.1em;
}
