.back-button-component {
  border: 1px solid #a09696;
  width: 150px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 16px;
  margin-right: 16px;
  background-color: #a09696;
  color: white;
  font-size: 1.5rem;
}
