.question-box {
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 180%!important;
background-repeat: no-repeat!important;
background-position: -3em -2em!important;
}

.question {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  padding: 50px;
  text-align: center;
}
