@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.google_login_button {
  display: flex;
  align-items: center;
  height: 3em;
  color: #000;
  background-color: #fff;
  border-color: transparent;
  border-radius: 6px;
  font-size: 0.7rem;
}

.google_logo_img {
  height: 1.2em;
  width: 1rem;
  margin-right: 0.5rem;
}
