@import url('https://fonts.google.com/specimen/Chakra+Petch?preview.text=GuideIT&preview.text_type=custom');

li {
  background-color: #298f8a;
  width: 60px;
  text-align: center;
  padding-top: 3px;
  border-right: solid 5px transparent;
}

.side_menu_whiteborder:hover {
  border-right-color: white;
}

.side_menu_ul {
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: x-small;
  font-family: 'Chakra Petch', monospace;
}

.side_menu_spacebetween {
  padding-bottom: 15px;
}

.home {
  padding-top: 15px;
}
