@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.email_form {
  padding: 10px 5px;
}

.email_form label {
  display: block;
  color: #535c75;
  margin-bottom: 7px;
}

.email_container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.email_container input {
  width: 100%;
  font-size: 14px;
  border-radius: 7px;
  padding: 15px;
  padding-left: 40px;
}

.email_container .input-icon {
  background-image: url('../../assets/images/envelop.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 30px;
  height: 20px;
  position: absolute;
  left: 8px;
  margin: auto;
}

.warning_sign {
  width: 25px;
  height: 25px;
  margin-left: -25px;
  background-image: url('../../assets/images/warning-sign.png');
  background-repeat: no-repeat;
}

.email_container input:focus {
  outline: none;
  background-color: rgba(241, 223, 226, 0.4);
  border: 2px solid #db643d;
  color: black;
}

.email_form button {
  width: 100%;
  color: #fff;
  font-size: 1.1em;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 15px;
  margin: 25px auto 10px auto;
  letter-spacing: 0.05em;
}

.error-message {
  font-size: 12px;
  font-weight: 500;
  color: #db643d;
  letter-spacing: 0.05em;
}
