.email-form {
  padding: 10px 5px;
  font-family: 'Roboto Mono', 'Roboto', monospace;
}

.email-form label {
  display: block;
  color: #535c75;
  margin-bottom: 7px;
}

.email-container {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.email-container input {
  width: 100%;
  font-size: 14px;
  border-radius: 7px;
  padding: 1.2rem;
  padding-left: 40px;
  padding-right: 30px;
}

.email-container .input-icon {
  background-image: url('../../assets/images/envelope.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 30px;
  height: 20px;
  position: absolute;
  left: 8px;
}

.warning-sign {
  background-image: url('../../assets/images/warning-sign.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 24px;
  height: 25px;
  position: absolute;
  right: 4px;
}

.email-container input:focus {
  outline: none;
  background-color: rgba(255, 59, 59, 0.15) !important;
  border: 2px solid #ff3b3b;
  color: black;
}

.error-message {
  font-size: 12px;
  font-weight: 500;
  color: #de653f;
  letter-spacing: 0.05em;
}
