.registration-page-container {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.registration-background {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.registration-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  background-color: #e9f4f3;
  justify-content: space-around;
  padding-left: 3rem;
}

.registration-small-container {
  font-family: 'Roboto Mono', monospace;
  align-self: center;
  display: flex;
  width: 80%;
  height: 75%;
  box-shadow: -10px 13px 25px 1px #c4c1c1;
}

.logo-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #c7dbd9;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.robot-logo-img {
  width: 8rem;
}

.account {
  color: gray;
}

.sign-in-link {
  color: #db643d;
  text-decoration: none;
}

.rp-logo-name {
  color: #db643d;
  text-shadow: 2px 3px rgba(247, 250, 129, 0.95);
}

.back-button {
  color: #535c75;
}

.registration-page-title {
  color: #535c75;
}

.rp-horizontal-line {
  display: flex;
  width: 80%;
}

.hr-table {
  width: 100%;
}

.hr-table td {
  width: 50%;
  padding: 2px 10px;
}
