@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.modal-content {
  width: 500px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  font-family: 'Roboto', 'Roboto Mono', monospace;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-body {
  padding: 10px;
  border-radius: 25px;
}
