.progress {
  border: 1px solid orange;
  width: 100%;
  display: flex;
}

.progress-status {
  background-color: orange;
  border: 1px solid orange;
}

.progress-text {
  letter-spacing: 0.7rem;
  color: white;
}
