.main-part-next-page {
  background-image: url(../../assets/images/Vector.svg);
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.center-next-page-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
}

.side-menu-next-page {
  min-width: 5%;
  min-height: 20%;
  margin-left: 0;
  position: fixed;
}

.side-menu-next-page .side-menu-div {
  margin-left: 0;
  width: 90%;
  background-color: #5088a8;
}

.orange-box {
  position: relative;
  margin: 2.5rem auto;
  background: rgba(219, 100, 61, 0.6);
  width: 34rem;
  height: 27rem;
  z-index: 2;
}

.white-box {
  background-color: #e5e5e5;
  padding-left: 2rem;
  position: absolute;
  top: 7%;
  left: -20%;
  width: 35rem;
  height: 23rem;
  z-index: 3;
}

.circle-image {
  position: absolute;
  top: 22%;
  left: 70%;
  z-index: 4;
}

.c-image {
  width: 16rem;
}

.white-box h1 {
  text-align: center;
  color: #298f8a;
  font-size: 1.2rem;
}

.middle-part {
  display: flex;
}

.main-images {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer-images {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-left: -2rem;
  list-style-type: none;
}

.footer-images li {
  margin-right: -0.6rem;
}

.redi-image-next-page,
.hyf-image-next-page {
  display: flex;
  padding: 0;
  flex-direction: column;
  vertical-align: middle;
  text-align: center;
}

.hyf-logo-next-page {
  background-color: #293a7d;
}

.image-name {
  font-size: 0.7rem;
  text-align: center;
  display: block;
  width: 5.5rem;
}

.elevator-div {
  position: absolute;
  bottom: -8%;
  left: 20%;
  z-index: 3;
}

.elevator-div .buttons.big {
  outline: none;
  word-spacing: 0.5rem;
  padding: 0.4rem 1.2rem;
  font-size: 1.3rem;
}
