@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.robot-logo {
  display: flex;
}

.robot-logo-div {
  background-color: #d9e4e3;
  width: 164px;
  height: 164px;
  border-radius: 50%;
  border: 0;
}

.robot-logo-div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-left: 27px;
  padding-right: 26px;
  width: 110px;
  height: 90px;
}

.robot-logo-div p {
  font-size: 15px;
  color: #323334;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-weight: bolder;
}

.arrow {
  padding-top: 105px;
}
