.pagination-box {
  width: 100%;
}

.pagination-numbers {
  background-color: #6b748b;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

.pagination-numbers button {
  background-color: transparent;
  text-align: center;
  padding: 5px 10px;
  font-family: 'Wellfleet', monospace;
  font-size: 1rem;
  color: white;
  align-self: center;
  cursor: pointer;
}

.chosen-floor {
  border: white 1px solid;
}

.unchosen-floor {
  border: none;
}
