/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v27-latin-regular.eot'); /* IE9 Compat Modes */
  src:
    local(''),
    url('../fonts/roboto-v27-latin-regular.eot?#iefix')
    format('embedded-opentype'),
    url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v27-latin-regular.woff') format('woff'),
    url('../fonts/roboto-v27-latin-regular.ttf') format('truetype'),
    url('../fonts/roboto-v27-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-mono-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src:
    local(''),
    url('../fonts/roboto-mono-v13-latin-regular.eot?#iefix')
    format('embedded-opentype'),
    url('../fonts/roboto-mono-v13-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-mono-v13-latin-regular.woff') format('woff'),
    url('../fonts/roboto-mono-v13-latin-regular.ttf') format('truetype'),
    url('../fonts/roboto-mono-v13-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

/* chakra-petch-regular - latin */
@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/chakra-petch-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src:
    local(''),
    url('../fonts/chakra-petch-v4-latin-regular.eot?#iefix')
    format('embedded-opentype'),
    url('../fonts/chakra-petch-v4-latin-regular.woff2') format('woff2'),
    url('../fonts/chakra-petch-v4-latin-regular.woff') format('woff'),
    url('../fonts/chakra-petch-v4-latin-regular.ttf') format('truetype'),
    url('../fonts/chakra-petch-v4-latin-regular.svg#ChakraPetch') format('svg'); /* Legacy iOS */
}

/* wellfleet-regular - latin */
@font-face {
  font-family: 'Wellfleet';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/wellfleet-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src:
    local(''),
    url('../fonts/wellfleet-v10-latin-regular.eot?#iefix')
    format('embedded-opentype'),
     url('../fonts/wellfleet-v10-latin-regular.woff2')
      format(    '),
     url('../fonts/wellfleet-v10-latin-regular.woff')
      format('woff'),
     url('../fonts    leet-v10-latin-regular.ttf')
      format('truetype'),
    
      url('../fonts/wellfleet-    tin-regular.svg#Wellfleet') format('svg')    ; /* Legacy iOS */
}
