.register-teaser {
  display: flex;
}

.register-teaser-text p {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  color: #000;
  margin-left: 3%;
  text-align: left;
}

.sign-in {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  color: #db643d;
  cursor: pointer;
}
