@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'theme.css';

* {
  font-family: 'Roboto Mono', 'Roboto', monospace;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}
