.home-description {
  width: 85%;
  font-size: 105%;
  font-weight: bold;
  background-color: transparent;
  text-align: center;
  padding: 5px;
  color: #535c75;
  margin: auto;
}

.home-description-upper {
  width: 85%;
  margin: auto;
}

.home-description strong {
  color: #db643d;
}
